BODY {font-family: 'Helvetica', serif;}

H1 {font-weight: 900;}

#bizcanvas {
  border: 5px solid black;
  width: 100%;
}

#bizcanvas td {
  vertical-align: top;
  height: 200px;
  width: 200px;
  padding: 6px;
}

#bizcanvas H4 {
  font-weight: 700;
  font-size: 1.1em;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 400;
  font-size: 0.9em;
}

.copy {
  font-weight: 300;
}
